# Ignore Airflow logs and local artifacts
logs/
venv/
venv_linux/
local_db/
__pycache__/
*.pyc
.git/
.env
image/

# Ignore Airflow SQLite DB and config if created locally
airflow.db
airflow.cfg
unittests.cfg